/**
 * Fino 主样式入口（模块化）
 * 插件样式由各插件目录单独提供，在 index.html 中按需引入
 */
@import url('_variables.css');
@import url('_base.css');
@import url('_auth.css');
@import url('_components.css');
@import url('_layout.css');
@import url('_dashboard.css');
@import url('_fund.css');
@import url('_api-docs.css');
@import url('_media.css');
